
Button{
    appearance: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  Button:hover{
    opacity: 0.9;
  }