button {
	margin: 2px;
	height: 65px;
	width: 25%;
	font-weight: 500;
	font-size: 20px;
	background-color: rgb(255, 202, 202);
	border-radius: 5px;
	transition: all 0.1s ease;
}
button:active {
	background-color: rgb(187, 147, 147);
	color: white;
	outline: 2px solid rgb(235, 46, 46);
}

.btn-div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
