.imgcard-section{
    background-color: white;
    /* display: flex; */
    margin: 1.1vw;
    padding: 1vw;
    font-family: "Open Sans",sans-serif;
}
.card-heading{
    font-size: 1.2vw;
    font-weight: 600;
}
.img-col{
    display: flex;
}
.img-item p{
    width: 8vw;
    height: 8vw;
    background-color: pink;
    margin: 1vw;
    margin-bottom: 0;
    font-size: 1vw;
}
.img-item h5{
    padding-left: 1vw;
    padding-bottom: 1vw;
    text-align: left;
    font-size: 0.9vw;
    font-weight: 100;
}
.explore{
    text-align: left;
    padding: 1vw;
    font-size: 1vw;
}
