@{
    ViewData["Title"] = "Home Page";
}

<p><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></p>
<ul>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <li>
            <a>Hello @User.Identity.Name</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        </li>
    }
</ul>