
.calapp{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.calc{
  width: 100%;
  max-width: 400px;
  background-color: #FFF;
  border-radius: 15px;
  overflow: hidden;

}
.display{
  text-align: right;
  padding: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: rgb(7, 41, 75);
  height: 36px;
}
Input{
  height: 30px;
  width: 185px;
}
Button{
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  appearance: none;
  border: none;
  outline: none;
}
.digits Button:hover{
  background-color: rgb(188, 193, 232);
}
.operators{
  display: flex;
}
.operators Button{
  flex: 1 1 0%;
  background-color: rgb(230, 54, 34);
  font-weight: 700;
}
.operators Button:hover{
  background-color: rgb(239, 177, 154);
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits Button{
  width: 33.33%;
  background-color:  rgb(7, 41, 75);
  color: beige;
}